<%= render "shared/navbar" %>
<div class="show-master">
    <div class="container">
        <div class="card-trip">
            <%= cl_image_tag @tool.photo.key %>
            <div class="card-info">
                <h2><%= @tool.name %></h2>
            <div class="card-trip-pricing">
                <h3>¥99.99</h3>
                <a class="book-button" href="/tools/26/bookings/new">Book this tool</a></div>
            </div>
        </div>
        <div class="descrip-with-map" <p="">Easy to operate - Full range 40-225 amp selector switch quickly sets the welding current and ensures a uniform arc each and every time you weld<p></p>
            <div id="map" style="width: 100%; height: 80vh; border: 1px solid lightgray; border-radius: 5px;" data-controller="map" data-map-api-key-value="" data-map-markers-value="[{&quot;lat&quot;:45.5061987,&quot;lng&quot;:-73.5640559}]" class="mapboxgl-map"><div class="mapboxgl-canary" style="visibility: hidden;"></div><div class="mapboxgl-canvas-container mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate"><canvas class="mapboxgl-canvas" tabindex="0" aria-label="Map" role="region" width="193" height="1071" style="width: 128.635px; height: 713.594px;"></canvas></div><div class="mapboxgl-control-container"><div class="mapboxgl-ctrl-top-left"></div><div class="mapboxgl-ctrl-top-right"></div><div class="mapboxgl-ctrl-bottom-left"></div><div class="mapboxgl-ctrl-bottom-right"></div></div></div>
        </div>
    </div>


    <div class="back-button">
        <p><a href="/tools">Back to tools</a></p>  
    </div>
</div>

