<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530124566582-a618bc2615dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80);">
  <div class="d-flex flex-column">
    <h1>T U U L K I T</h1>
    <p><em>The <strong>right tools</strong> for the <strong>right price!</strong></em></p>
    <a class="btn btn-danger" href="#">Let's build!</a>
  </div>
</div>
