<div class="banner">
  <div class="d-flex flex-column">
    <h1>T U U L K I T</h1>
    <p><em>The <strong>right tools</strong> for the <strong>right price!</strong></em></p>
    <a class="btn btn-danger" href="#">Let's build!</a>
  </div>
</div>
