.banner {
  background-size: cover;
  background-position: center;
  padding: 115px 0;
  height: 90vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 50px;
}

.banner p {
  font-size: 35px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner a {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  align-items: center;
}

.btn-danger {
  color: red;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0 auto;
}

// .btn-ghost:hover {

// }
