.card-category {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
}

.card-holder {
width: 100vw;
padding: 10px;
display: flex;
overflow-x: scroll;
// align-content: space-between;
}


.card-info ul {
// padding-left: 12px;
font-size: small;
color: black;
text-align:center;
list-style: none;
  a {
      text-decoration: none;
    }
}
